.accordion-head {
    background-color: #34afc7;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active-accordion, .accordion-head:hover {
    background-color: #0485a0;
}

.panel-accordion {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    color: black;
}